<h2>Users</h2>

<div>
  <label>User name:
    <input #userName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(userName.value); userName.value=''">
    add
  </button>
</div>

<ul class="items">
  <li *ngFor="let user of users$ | async"
  [class.selected]="user.id === selectedId"
  >
    <a routerLink="/users/detail/{{user.id}}">
      <span class="badge">{{user.id}}</span> {{user.username}}</a>
      <button class="delete" title="delete user"
      (click)="delete(user)">x</button>
  </li>
</ul>

<app-user-detail [user]="selectedUser"></app-user-detail>
