<div *ngIf="palliative">

  <h1>"{{palliative.shortname | uppercase}}" Details</h1>
  <h2>"{{palliative.longname}}"</h2>
  <table class="altcolors"><tbody class="altcolors">
    <tr><td><label>id:</label></td><td class="description">{{palliative.id}}</td></tr>
    <tr><td><label>Test ID:</label></td><td class="description">{{palliative.testid}}</td></tr>
    <tr><td><label>Description:</label></td><td class="description">{{palliative.description}}</td></tr>
    <tr><td><label>userid:</label></td><td>{{palliative.userid}}<span *ngIf="user"> | {{user.username}} | {{user.firstname}} {{user.lastname}}</span></td></tr>
    <tr><td><label>Test Date/Tech</label><td>{{palliative.testDate}} | {{palliative.testTech}}</td></tr>
    <tr><td><label>Analysis Date/Tech</label></td><td>{{palliative.analysisDate}} | {{palliative.analysisTech}}</td></tr>
    <tr><td><label>Laboratory</label></td><td>{{palliative.laboratory}}</td></tr>
    <tr><td><label>mprt <span style="font-family: serif;">&tau;</span>:</label></td><td>{{palliative.mprt}}</td></tr>
    <tr><td><label>mprt <span style="font-family: serif; font-style: italic;">t</span></label></td><td>{{palliative.mprtTime}}</td></tr>
  </tbody>
  </table>

  <div class="mprtGraph">
    <label>MPRT <span style="font-family: serif;">&tau;</span> Graph</label>
    <button *ngIf="!graphVisible" (click)="showGraph()">show</button>
    <button *ngIf="graphVisible" (click)="hideGraph()">hide</button>
    <button *ngIf="graphVisible" (click)="plotGraph()">plot</button>
    <button *ngIf="graphVisible && !graphDetails" (click)="showDetails()">show details</button>
    <button *ngIf="graphVisible && graphDetails" (click)="hideDetails()">hide details</button>
    <div *ngIf="graphVisible">
      <div *ngIf="graphDetails" id="mprtGraphC"></div>
      <div id="mprtGraphLnC"></div>
      <div *ngIf="graphDetails" id="mprtGraphDeriv1"></div>
      <div *ngIf="graphDetails" id="mprtGraphDeriv2"></div>
      <div *ngIf="graphDetails" id="mprtGraphRSQ"></div>
    </div>
  </div>

  <div class="dataPointList">
    <label>Data Points</label>
      <button *ngIf="!dataVisible" (click)="showData()">show</button>
      <button *ngIf="dataVisible" (click)="hideData()">hide</button>
    
    <table *ngIf="dataVisible">
      <tbody class="altcolors">
      <tr><th>t</th><th>C</th><th>ln(C)</th><th>C'(t)</th><th>C''(t)</th><th>R^2</th></tr>
      <tr *ngFor="let dp of palliative.data" class="dataPoint">
        <td>{{dp.t | number}}</td>
        <td>{{dp.C | number}}</td>
        <td>{{dp.lnC | number}}</td>
        <td>{{dp.dCdt | number}}</td>
        <td>{{dp.deriv2 | number}}</td>
        <td>{{dp.rsq | number}}</td>
      </tr>
    </tbody>
    </table>
  </div>
  
  <button *ngIf="!technicianView && authService.isTechnician" (click)="edit()">Edit</button>

  <div *ngIf="technicianView">
    <h1>Edit Details</h1>
    <div><label>Test ID:</label>&nbsp;<input [(ngModel)]="palliative.testid" placeholder="testid"/></div>
    <div><label>Short Name:</label>&nbsp;<input [(ngModel)]="palliative.shortname" placeholder="shortname"/></div>
    <div><label>Long Name:</label>&nbsp;<input [(ngModel)]="palliative.longname" placeholder="longname"/></div>
    <div><label>Description:</label>&nbsp;<input [(ngModel)]="palliative.description" placeholder="description"/></div>
    <div><label>User Id:</label>&nbsp;<input [(ngModel)]="palliative.userid" placeholder="userid"/></div>
    <div><label>Test Date:</label>&nbsp;<input [(ngModel)]="palliative.testDate" placeholder="test date"/></div>
    <div><label>Test Tech:</label>&nbsp;<input [(ngModel)]="palliative.testTech" placeholder="dustfall technician name"/></div>
    <div><label>Analysis Date:</label>&nbsp;<input [(ngModel)]="palliative.analysisDate" placeholder="analysis date"/></div>
    <div><label>Analysis Tech:</label>&nbsp;<input [(ngModel)]="palliative.analysisTech" placeholder="analysis technician"/></div>
    <div><label>Laboratory:</label>&nbsp;<input [(ngModel)]="palliative.laboratory" placeholder="laboratory name"/></div>
    <button (click)="save()">save</button>
    <button (click)="cancel()">cancel</button>
    <button (click)="cleanData()">clean</button>
    <button (click)="calcMPRT()">calc mprt</button>
    
    <div class="dataPointList padded">
      <h3>Data Points</h3>
      <br/><textarea [(ngModel)]="textboxText" cols="40" rows="10">{{textboxText}}</textarea>
      <br/><button (click)="importCSV()">import CSV</button>
      <table>
        <tr><th>t</th><th>C</th></tr>
        <tr *ngFor="let dp of palliative.data" class="dataPoint">
          <td><input [(ngModel)]="dp.t"/></td>
          <td><input [(ngModel)]="dp.C"/></td>
        </tr>
      </table>
      <button (click)="addDatapoint()">add datapoint</button>
    </div>

  </div>

</div>
