
body {
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
    font-weight: bold;
    font-size: 1em;
}

h1 {
    font-size: 2em;
}

h3 {
    font-style: italic;
}

h4 {
    font-weight: normal;
}

