<app-palliative-search></app-palliative-search>

<ul class="items">
  <li *ngFor="let palliative of palliatives">
    <a routerLink="/palliatives/detail/{{palliative.id}}">
    <span class="badge">{{palliative.id}}</span>{{palliative.shortname}}</a>
    <button class="delete" title="delete palliative" (click)="delete(user)">x</button>
  </li>
</ul>

<app-palliative-detail [palliative]="selectedPalliative"></app-palliative-detail>


<div>
  <label>Add Palliative:</label>
    <input #palliativeName />
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(palliativeName.value); palliativeName.value=''">add</button>
</div>