/* MessagesComponent's private CSS styles

h2 {
  color: red;
  font-weight: lighter;
  line-height: 1;
  display: block;
  margin: none;
}

body {
  margin: 2em;
}

body,
input[text],
button {
  color: crimson;
  font-family: Cambria, Georgia;
}

button.clear {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}

button:hover {
  background-color: #cfd8dc;
}

button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

button.clear {
  color: #888;
  margin-bottom: 12px;
}

.messages {
  background: #333333;
  display: block;
  border-radius: 4px;
} */