<h2>Manage Palliatives</h2>

<div *ngIf="!palliatives$">Loading...</div>

<div *ngIf="palliatives$ | async as palliatives">

<!-- <app-palliative-list></app-palliative-list> -->

<ul class="items">
    <li *ngFor="let palliative of palliatives">
        <a routerLink="/palliatives/detail/{{palliative.id}}">
        <span class="badge">{{palliative.id}} | {{palliative.testid}} | </span>{{palliative.shortname}}</a>
        <button class="delete" title="delete palliative" (click)="delete(palliative)">x</button>
    </li>
</ul>
</div>


<button (click)="gotoDashboard()">Back to dashboard</button>
