<div *ngIf="palliative">

  <h3>{{palliative.shortname | uppercase}} Details</h3>
  <div><span>id: {{palliative.id}}</span></div>
  <div><span>userid: {{palliative.userid}}</span></div>
  <div *ngIf="user"><span>{{user.username}} | {{user.firstname}} {{user.lastname}}</span></div>
  <div><span>mprt <span style="font-family: serif;">&tau;</span>: {{palliative.mprt}}</span></div>

  <div><label>Short Name:<input [(ngModel)]="palliative.shortname" placeholder="shortname"></label></div>
  <div><label>Long Name:<input [(ngModel)]="palliative.longname" placeholder="longname"></label></div>
  <div><label>Description:<input [(ngModel)]="palliative.description" placeholder="description"></label></div>
  <div><label>User Id:<input [(ngModel)]="palliative.userid" placeholder="userid"></label>

  </div>

  <button (click)="save()">save</button>
  <button (blick)="goBack()">go back</button>
</div>
