<!-- <app-palliative-search></app-palliative-search> -->

<div class="wrap">
    <!-- <h1>About</h1> -->
    <p>Welcome to the UAF Dust Palliative MPRT Calculator. It is
      designed to calculate the <em>mean particle residence time</em>,
      or Greek letter tau <span style="font-family: serif">&tau;</span>,
      of a dust palliative.
      This allows us to compare the performance of different palliatives
      using a scientifically based test which uses a nephelometer and dustfall
      column (shown in figures) to record the time and PM10 concentration for
      one minute. The purpose of this website is
      to enable technicians to upload test data, calculate the MPRT,
      and publish the results of such tests.
    </p>
    <p>Currently, this website is a <em>proof of concept</em> showing
      what we hope to deliver when it is finished.</p>
    <figure style="width: 80%; min-width: 32px; max-width: 300px;">
        <img class=scaled src="assets/dustcolumn-300px.jpg" />
        <figcaption>The dustfall column used to test the performance of a palliative.</figcaption>
    </figure>
    <figure style="width: 80%; min-width: 32px; max-width: 300px;">
        <img class=scaled src="assets/meter-300px.jpg" />
        <figcaption>The nephelometer measures the PM10 concentration over time.</figcaption>
    </figure>
</div>
