/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Lato');

/* You can add global styles to this file, and also import other style files */

* {
  font-family: 'TeX Gyre Heros', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Application-wide Styles */

h1 {
  color: #236192;
}

h2,
h3 {
  color: #444;
  font-weight: lighter;
}

body {
  margin: 2em;
}

body,
input[text],
button {
  color: #888;
}

button {
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}

button:hover {
  background-color: #cfd8dc;
}

button.delete {
  position: relative;
  left: 194px;
  top: -32px;
  background-color: gray !important;
  color: white;
}


/* AppComponent's private CSS styles */

h1 {
  font-size: 1.6em;
  font-weight: bold;
  color: #777;
  margin-bottom: 0;
}

h2 {
  font-size: 1.2em;
  margin-top: 0;
  padding-top: 0;
}

h3 {
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
}

nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}

nav a:visited,
a:link {
  color: #607d8b;
}

nav a:hover {
  color: #039be5;
  background-color: #cfd8dc;
}

nav a.active {
  color: #039be5;
}

label {
  display: inline-block;
  /* width: 13em; */
  margin: .5em 0;
  color: #607D8B;
  font-weight: bold;
}

input[text] {
  appearance: none;
  border: #000;
  height: 1.5em;
  font-size: 1em;
  padding-left: .4em;
  border-radius: 4px;
}

/* button {
  margin-top: 20px;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
} */

button:hover {
  background-color: #cfd8dc;
}

button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}


.items {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

.items li {
  position: relative;
  cursor: pointer;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}

.items li.selected {
  background-color: #CFD8DC;
  color: white;
}

.items li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

.items a {
  color: #888;
  text-decoration: none;
  position: relative;
  display: block;
  width: 250px;
}

.items a:hover {
  color:#607D8B;
}

.items .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  min-width: 16px;
  text-align: right;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}


/* UserSearch private styles */
.search-result li {
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  width:195px;
  height: 16px;
  padding: 5px;
  background-color: white;
  cursor: pointer;
  list-style-type: none;
}

.search-result li:hover {
  background-color: #607D8B;
}

.search-result li a {
  color: #888;
  display: block;
  text-decoration: none;
}

.search-result li a:hover {
  color: white;
}
.search-result li a:active {
  color: white;
}
#search-box {
  width: 200px;
  height: 20px;
}


ul.search-result {
  margin-top: 0;
  padding-left: 0;
}

.branding {
  display: block;
  background: #d7d2cb;
  color: #326192;
  border-radius: 4px;
}

.branding-uaf {
  font-family: 'Lato';
}

.branding-cset {
  font-family: 'Raleway';
}

.messages {
  display: block;
  position: center absolute;
  background: #ccc;
  border-radius: 4px;
  width: 512px;
  margin: auto;
}

.popup {
  display: block;
  /* position: top center absolute; */
  background: #bcd;
  border-radius: 4px;
  width: 320px;
  margin: auto;
  box-shadow: 10px 10px 5px #345;
  /* margin-top: 100px; */
}

.splashscreen {
  display: block;
  /* position: top center absolute; */
  background: #ccc;
  border-radius: 4px;
  width: 80%;
  margin: auto;
  box-shadow: 10px 10px 5px #345;
  /* margin-top: 100px; */
}

.padded {
  padding: 10px;
}

.singleline {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1em;
}

.altcolors {
  background: #eee;
  border-radius: 4px;
  display: block;
}

tbody.altcolors tr:nth-child(even) {
  background: #e7e7e7;
}

tbody.altcolors tr:nth-child(odd) {
  background: #d7d7d7;
}

td {
  min-width: 3em;
}

td.description {
  width: 100%;
}

.description {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1em;
}

.dataPointList {
  background: #ddd;
  border-radius: 4px;
}

.dataPoint {
  height: 1em;
}

.wrap {
  width: 80%;
  min-width: 20em;
  max-width: 100em;
}

figure {
  width: 30%;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  border: thin silver solid;
  margin: 0.5em;
  padding: 0.5em;
}

img.scaled {
  width: 100%;
}