<div *ngIf="user">

  <h3>{{user.username | uppercase}} Details</h3>
  <div><span>id: {{user.id}}</span></div>
  <div><span>Name: {{user.firstname}} {{user.lastname}}</span></div>
  <div><span>Organization: {{user.organization}}</span></div>
  <div><span>Email: {{user.email}}</span></div>
  
  <div><label>First name:<input [(ngModel)]="user.firstname" placeholder="firstname"></label></div>
  <div><label>Last name:<input [(ngModel)]="user.lastname" placeholder="lastname"></label></div>
  <div><label>Organization:<input [(ngModel)]="user.organization" placeholder="organization"></label></div>
  <div><label>Email:<input [(ngModel)]="user.email" placeholder="email"></label></div>
  
</div>